extends ../layouts/application.pug
block content
  h2 Create new post
  .row-lg
    form(method='post', action='/posts')
      .form-group
        label.col-sm-2 Title
        .col-sm-10
          input.form-control(type='text', name='title', required)
      .form-group
        label.col-sm-2 Content
        .col-sm-10
          textarea.form-control(name='content', rows='10', cols='10', id='content', required)
      button.btn.btn-primary(type='submit') Create
