head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title #{title} - NodeJs Hackathon
  link(href='/css/app.css', rel='stylesheet')
  script(src='/js/app.js')
