nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary
  a.navbar-brand(href='/') Node Hackathon
  .collapse.navbar-collapse
    ul.navbar-nav.mr-auto
     li.nav-item
      a.nav-link(href='/posts') Posts
